{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow p-3 mb-4 rounded">
          <div class="card-body">
            <h2>Password Reset Email Sent</h2>
            <hr />
            <p>An email has been sent to the provided address with instructions on how to reset your password.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}